.top-category {
    border-top: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;

    width: 100%;
    height: 35px;

    overflow: hidden;

    align-items: center;
    justify-content: space-around;

    .category-item {
        a {
            white-space: nowrap;
            text-decoration: none;
            color: #0F2F4C;
            margin: 0 1rem 0 1rem;
            word-wrap: 0;
        }
    }

    .has-dropdown:hover .dropdown {
        display: block !important;
        
        padding: 0.5rem;
        background-color: #FFFFFF;

        border-radius: 5px;

        position: absolute;
        left: 50px;
        z-index: 3;

        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }

    .dropdown ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: left;
    }

    .dropdown ul a {
        margin: 0;
    }

    .dropdown ul a li {
        padding: 0.5rem;
        border-radius: 5px;
    }

    .dropdown ul a:hover li {
        background-color: #C5C5C5;
    }
}

@media screen and (min-width: 770px){
    .top-category {
        display: flex;
    }
}

@media screen and (max-width: 770px){
    .top-category {
        display: none;
    }
}
