.top-message {
    width: 100%;
    height: 35px;
    background-color: #0F2F4D;

    align-items: center;
    justify-content: center;

    font-size: 0.75rem;
    color: #FFFFFF;

    a {
        text-decoration: underline;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 400px) {
    .top-message {
        display: flex
    }
}

@media screen and (max-width: 400px) {
    .top-message {
        display: none !important;
    }
}