body {
    font-family: 'Noto Sans', sans-serif !important;
    color: #0F2F4C;
}

.base-container {
    max-width: 100vw;
    min-height: 100vh;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    align-items: center;
}
